.blog_section1 {
    margin-top: 181px;
}

.blog_section1_heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_p1 {
    margin-top: 0;
    margin-top: 24px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0%;

}

.blog_p2 {
    margin-top: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_section {
    padding-left: 32px;
    padding-right: 61px;
}

.blog_section2 {
    margin-top: 40px;
}

.blog_heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_section2_p {
    margin-top: 0;
    margin-top: 24px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_section2_ol {
    list-style-position: inside;
    text-align: right;
}

.blog_section_li {
    font-size: 30px;
    line-height: 50px;
}

.blog_section2_li_link {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #0041E8;
}

.blog_section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
    margin-top: 120px;
}

.blog_section_img_caption {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #686868;
}

.blog_section4 {
    margin-top: 60px;
}

.blog_section4_main_text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
    margin-bottom: 60px;
}

.blog_section_p_stylized {
    margin-bottom: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_section4_li {
    padding-bottom: 20px;
    padding-left: 10px;
}

.fa-circle {
    font-size: 8px;
    margin-right: 10px;
}

.blog_section4_img {
    width: 898px;
    height: 599px;
    opacity: 1;
    margin: auto;
}

.blog_section5 {
    margin-top: 60px;
}

.blog_section5_main_text {
    display: flex;
    justify-content: space-between;
    gap: 39px;
    margin-top: 31px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
}

.blog_section5_li {
    padding-bottom: 20px;
    padding-left: 10px;
}

.blog_section6 {
    margin-top: 60px;
}

.blog_section7 {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 54px;
}

.blog_section8 {
    margin-top: 130px;
}

.blog_section8_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin-top: 60px;
}

.blog_section8_figure {
    background-color: #F1E8D9;
    background: #e9dfd2;
    border-radius: 33.5px;
    overflow: hidden;
    margin: 0;
    transition: 0.3s;
}

.blog_section8_img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    display: block;
}

.blog_section8_figcaption {
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    padding: 20px;
}

.blog_section8_figcaption_p {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog_section8_articles_btn {
    width: 234px;
    height: 67px;
    opacity: 1;
    border-radius: 33.5px;
    background-color: #14A998;
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    color: #FFFFFF;
    margin: 76px auto 0 auto;
    display: block;
    border: none;
    cursor: pointer;
}