.experience_section1 {
    padding-top: 120px;
    position: relative;
}

.experience_section1_heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience_section1_btn {
    margin-top: 65px;
    width: 234px;
    height: 67px;
    opacity: 1;
    border-radius: 33.5px;
    background-color: #14A998;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.floating-logo {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
}

.floating-logo img {
    width: 120.18px;
}

.experience_section2 {
    display: flex;
    align-items: center;
    gap: 37px;
    margin-top: 80px;
    margin-right: 48px;
}

.experience_section2_img {
    width: 683px;
    height: 658px;
    opacity: 1;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.experience_heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience_p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
}

.experience_section2_btn {
    width: 176.6px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
    background-color: #D7C094;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 30px;
}

.experience_section3 {
    margin-top: 121px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.experience_section3_btn {
    margin-top: 30px;
    width: 198px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
    background-color: #14A998;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 117%;
    color: #FFFFFF;
}

.experience_section3_img_ {
    width: 755px;
    height: 678px;
    opacity: 1;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}

.experience_blog_section {
    margin: 106px 48px;
}

.experience_blog_section_heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 117%;
    letter-spacing: 0%;
    text-align: center;
}

.experience_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-top: 80px;
}

.experience_blog_img {
    border-radius: 30px;
}

.experience_blog_heading {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    margin-top: 24px;
}

.experience_blog_p {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0%;
}