.footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 60px 48px;
    margin-top: 120px;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_main_nav {
    display: flex;
    gap: 63px;
}

.footer_main_nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
    padding-right: 109px;
}

.footer_main_nav_li-link {
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
}

.footer_bottom {
    display: flex;
    gap: 43px;
    margin-top: 33px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
}

.footer_bottom a {
    color: #FFFFFF;
}

.footer_copy {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
    padding-left: 489px;
}